@model IEnumerable<EntityFramework.Web.Models.GetLatestPosts_Result>

<h4>Latest Posts</h4>
<ol class="list-unstyled">
	@foreach (var post in Model)
	{
		<li><a href="#">@post.Title</a></li>
	}
</ol>
